@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Shared styles */
.display-flex {
  display: flex;
}

/* dark 01 */
.text-dark1 {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}

/* dark 04 */
.text-dark4 {
  color: #a1a1a1;
}
/* Dark 05 */
.text-dark5 {
  color: #d0d0d0;
}

/* Dark 06 */
.text-dark6 {
  color: #e7e7e7;
}

/* Dark 07 */
.text-dark7 {
  color: #f3f3f3;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* header style */
/* navbar related styles */
.navbar {
  justify-content: space-between;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
